@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Shantell+Sans&display=swap');
body
{
   background-color: rgb(39, 255, 230);
   background-repeat: repeat;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Shantell Sans', cursive;
}
.row-2
{
   grid-row: span 2;
}

.col-2
{
   grid-column: span 2;
}


.calculator
{
   margin: auto;
   margin-top: 7rem;
   padding: 5px;
   width: 20rem;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 5px;
   background-color: black;
   border-radius: 5px;
}
.box
{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
   justify-content: center;
   align-items: center;
   font-size: larger;
   font-weight: 00;
   cursor: pointer;
   border-radius: 5px;
}
.operator
{
   margin: 2px;
   background-color: rgb(255, 180, 60);
   color: black;
   font-weight: 800;
}
.nos
{
   border: 2px solid black;
   background-color: rgb(149, 225, 240);
   color: black;
}
.input-field
{
   height: 2.3rem;
   margin: 0%;
   padding: 0%;
   grid-column: span 4;
   font-size: xx-large;
   font-weight: 800;
   border-radius: 5px;
}
#input-field
{
   font-size: xx-large;
   font-weight: 400;
   width: 100%; 
   height: 100%;
   border-radius: 5px;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Shantell Sans', cursive;
   
}

.box:hover
{
   transform: scale(1.002);
}
